{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.1 $ *}

<div {$block_showhidediv.div.attrs} >
	<img {$block_showhidediv.image.attrs} />
	{$block_showhidediv.content}
</div>