{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.1 $ *}

<ul data-abc="a" {$block_showhidediv_body.ul.attrs} >
	<div {$block_showhidediv_body.div.attrs} >
		 {$block_showhidediv_body.content}
	</div>
</ul>