{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{content_wrapper}
	<div id="input_fields">
		<form name="login" action="/?action=requestpassword" method="post">
			<input name="username" type="text" />
			<input type="submit" class="submit" value="Request new password &raquo;" />
		</form>
	</div>
	<div id="labels">
		<label for="username">Username</label>
	</div>
{/content_wrapper}