{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.5 $ *}
{content_wrapper}
	<div id="content" class="content clearfix">
		<div id="egbox" class="egbox">
			{include file='dashboard.tpl'}
		</div>
	</div>
{/content_wrapper}