/**
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved.
 *
 *	Released under GPLv3 license; see LICENSE.
 **/

/* $Revision: 1.4 $ */

@import '{THEME_PATH}/preboot.less';

@media print {
	
	html, body {
		padding: 0;
		margin: 0;
	}
	
	body {
		color:#000;
		font-size:10px !important;
		font-family:Arial,sans-serif;
	}
	
	table {
		float: block;
		clear: both;
	}
	
	input, select, textarea {
		font-size: 10px;
		border: 1px solid gray;
		
	}
	
	a {
		text-decoration:none;
		border: none !important;
		color: #333;
	}
	
	.right, .numeric {
		text-align:right !important;
	}
	
	#header {
		display:none;
	}
	
	#sidebar {
		display:none;
	}
	
	#main_with_sidebar,#main_without_sidebar {
		margin-left:0;
		border:none;
		background-color:#fff;
		height:auto !important;
		overflow:visible;
	}
	
	tr,td,th {
		page-break-inside:avoid;
		border-bottom:1px solid lightgray;
	}
	
	thead {
		display:table-header-group;
	}
	
	#main_without_sidebar {
		height:auto !important;
	}
	
	table.datagrid {
		width:100%;
	}
	
	.tablescroll_wrapper {
		width:auto !important;
		height:auto !important;
		overflow:visible !important;
	}
	
	#data_grid_search {
		background-color:#FFF;
		border: none;
		border-bottom:1px solid gray;
		margin-bottom: 5px;
	}
	
	#data_grid_search p {
		font-weight: bold;
	}
	
	#data_grid_search fieldset,#data_grid_search fieldset ul {
		margin:0;
		padding:0;
	}
	
	#data_grid_search fieldset ul label {
		display:block;
		float:left;
		width:200px;
	}
	
	#data_grid_search fieldset ul li {
		margin-bottom: 2px;
	}
	
	#data_grid_search fieldset ul input,#data_grid_search fieldset ul select {
		
		width:150px;
	}

	#data_grid_search #advanced_holder,#data_grid_search #hidden_search {
		border:none;
		display:none;
	}
	
	#data_grid_search #advanced_search,#data_grid_search #basic_search {
		border:none;
		display:block !important;
	}
	
	.datagrid tbody {
		height:auto !important;
	}
	
	.datagrid thead tr th {
		text-align:left;
	}
	
	.datagrid thead tr th.right {
		text-align:right;
	}
	tr.sub_total,td.sub_total {
		background-color:#D9E7FF;
		font-weight:700;
	}
	tr.grand_total,td.grand_total {
		background-color:#D9E7FF;
	}
	
	
	#data_grid_search #submit_holder {
		display:none;
	}
	
	#report_filter {
		display:none;
	}
	
	td {
		padding:3px;
	}
	
	#footer {
		display:none;
	}
	
	.rounded {
		border:none !important;
	}
	
	#order_options {
		display:none;
	}
	
	#additional_components {
		display: none;
	}
	
	#data_grid_header {
		padding: 5px 0;
	}
	
	#data_grid_header a {
		display: none;
	}
	
	#data_grid_header input.paging {
		border: none;
		width: 60px;
		text-align: right;
	}
	
	.pagination {
		float: left;
		clear: both;
	}
	.pagination a {
		display: none;
	}
	
	.pagination input {
		border: none;
		text-align: left;
	}

/* For detail print */

	#view_page {
		width: auto; 
		border: 0; 
		margin: 0 5%; 
		padding: 0;
	
		dd {
			color: #333;
			background-color: white;
			border-bottom: 1mm solid @border1;
			display: inline;
			float: left;
			font-size: 11pt;
			font-weight: bold;
			line-height: 7mm;
			margin-left: 1mm;
			padding: 0;
			width: 60%;
			&.data {
				border-bottom: none;
			}
			&.wide {
				width: 95%;
			}
		}
		dl {
			padding: 0;
			width: 49%;
		}
		dt {
			position: relative;
			color: #666;
			border-bottom: 1mm solid @border1;
			display: inline;
			float: left;
			font-size: 10pt;
			height: 7mm;
			line-height: 7mm;
			padding: 0;
			text-align: right;
			width: 35%;
			&.heading {
				background-color: @header1 !important;
				border-radius: 0;
				border-bottom: 1mm solid @border1;
				display: block;
				font-size: 11pt;
				font-weight: bold;
				color: @header2;
				height: 5mm;
				margin: 0;
				padding: 0;
				text-align: left;
				width: 95%;
			}
		}
		.blank {
			color: #ccc;
			font-weight: normal;
		}
		dl.float-left {
				float: none;
		}
		dl.float-right {
				float: none;
		}
	}
	
	#sidebar_open_close {
		display: none;
	}
}