/**
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved.
 *
 *	Released under GPLv3 license; see LICENSE.
 **/

/* $Revision: 1.34 $ */

@import '{THEME_PATH}/preboot.less';

@media screen {

/** generic styling **/

	/** resets and general elements **/
	
		* {
			border: 0;
			margin: 0;
			padding: 0;
		}
		
		#ui-datepicker-div { display: none; }
		
		body {
			background-color: @date-picker-background; 
			color: @date-picker-text;
			font-family: Tahoma, Helvetica, Arial,Verdana, sans-serif;
			font-size: 100%;
			font-style: normal;
			font-weight: normal;
			letter-spacing: normal;
			padding: 10px;
			overflow: auto;
		}
		
		/* for image replacement */
		.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
	
	
	/** headings **/
	
		h1 {
			color: @h1-text;
			font-family: Helvetica, Arial, Verdana, sans-serif;
			font-size: 17px;
			padding-left: 3px;
		}
		
		h2 {
			font-family: Helvetica, Arial, Verdana, sans-serif;
			font-size: 13px;
		}
		
		h3 {
			font-family: Helvetica, Arial, Verdana, sans-serif;
			font-size: 11px;
		}
	
	p {
		margin: 15px 0;
	}
	
	a {
		color: @dark-grey;
		text-decoration: none;
	}
	
	a img {
		border: 0;
		text-decoration: none;
	}

	.debit {
		color: red;
	}
	
	.red {
		color: red;
	}
	
	strong {
		color: @dark-grey;
	}

	
	/* tables */
	
		table {
			border-spacing: 0;
			margin-bottom: 10px;
			margin-top: 10px;
			width: 100%;
			tr {
				line-height: 16px;
			}
		}
		
		
	/* other elements */
	
		iframe {
			padding: 0 !important;
		}
		
		
	/* generic classes / IDs */
	
		/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations. nicolasgallagher.com/micro-clearfix-hack/ */
		.clearfix:before, .clearfix:after { content: ""; display: table;}
		.clearfix:after { clear: both; }
		.clearfix { zoom: 1; }
	
		.float-left {
			float: left;
		}
		
		.float-right {
			float: right;
		}
		
		.align-right {
			text-align: right;
		}
		
		.align-left {
			text-align: left;
		}
		
		.gridbox {
			margin-right: 15px;	
		}
		
		.opacity-50 {
			-moz-opacity: 0.5 !important;
			opacity: 0.5 !important;
		}
		
		#js_warning {
			width: 100%;
			padding: 5px;
			background-color: red;
			color: white;
			margin-bottom: 10px;
			margin: -10px 0 10px -10px;
			p {
				text-align: center;
				font-weight: bold;
				font-size: 14px;
			}
		}
		
		#print_header {
			display: none;
		}
	
	
	/* blockUi */
	
		.blockUI {
			cursor: wait;
		}
	
		div.blockMsg {
		    text-align: center !important;
		    background-color: #FFF !important;
		    border: 3px solid #0084B4 !important;
		    .border-radius(10px !important);
		    padding: 15px !important;
		    color: #000 !important;
		}
		
		div.blockOverlay {
			background-color: #000;
			-moz-opacity: 0.05 !important;
			opacity: 0.05 !important;
		}


/** header styling **/

	#logo {
		float: left;
		left: 20px;
		position: relative;
	}
	
	#header {
		height: auto;
	}

	
/** main styling **/
	 
	#included_file {
		clear: both;	
	}
	
	#main_with_sidebar, #main_without_sidebar {
		background-color: @sidebar-background;
		border: 1px solid @sidebar-border;
		font-size: 11px;
		padding: 15px;
		height: 630px;
		overflow-y: auto;
		border-top: none;
	}
	
	#main_without_sidebar {
		clear: both;
	}
	
	#content_with_sidebar {
		clear: both;
	}
	
	#info_message {
		background-color: #F8C67B;
		border: 1px solid #F90;
		margin: 5px 0;
		padding: 10px;
		img {
			float: left;
			padding: 0 10px 0 0;
		}
		p {
			background-color: #F8C67B;
			float: left;
		}
	}
	
	#info_message_footer {
		clear: both;
	}
	
	#title_holder {
		background-color: @background1;
		border: 1px solid @border1;
		height: 30px;
		margin-left: 200px;
		padding: 10px 5px;
	}
	
	h1.page_title, h1#ajax_title {
		color: @dark-grey;
		font-size: 18px;
		margin-right: 1px;
		margin-bottom: 10px;
	}
	
	#search {
		background-color: @search-background;
		border: 1px solid @border1;
		height: 24px;
		margin: 20px 10px;
		padding: 0 10px;
		text-align: right;
	}
	
	.search-summary {
		width: 50%;
	}
	
	#formtable {
		/* for main input to prevent 100% span */
		font-size: 14px;
		margin: 0 auto;
		width: auto;
	}
	
	.calendar table {
		/* override datepicker width */
		width: auto;
	}


/** main nav styling **/
	
	#mainNav {
		color: @main-nav-text;
		clear: none;
		float: left;
		font-size: 12px;
		left: 0;
		position: relative;
		margin: 10px 0 0 0;
		width: 100%;
		font-weight: normal;
		overflow: visible;
		ul {
			background-color: @main-nav-background;
			cursor: default;
			float: left;
			list-style-type: none;
			margin: 0;
			padding: 0;
			&.nav {
				padding: 0;
				width: 100%;
				& > li {
					margin: 0;
					padding: 0;
					float: left;
				}
			}
		}
		a {
			padding: 5px 9px;
			line-height: 18px;
		}
		li {
			position: relative;
		}
		li.nav {
			text-decoration: none;
			& > a {
				display: block;
			}
			& > img {
				position: relative;
				top: 3px;
				left: 3px;
				padding: 0 5px 0 0;	
			}
		}
		ul ul {
			border: 1px solid rgba(0,0,0,.1);
			display: none;
			left: 0;
			position: absolute;
			top: 100%;
			width: 150px;
			z-index: 500;
		}
		ul ul ul {
			left: 100%;
			position: absolute;
			top: -1px;
			width: 150px;
		}
		a {
			color: inherit;
			text-decoration: none;
		}
		a:hover, a:active, a:focus {
			outline: none;
			text-decoration: none;
			background-color: rgba(0,0,0,.1);
		}
	}
	
	/* enable li:hovering to display direct child uk */
	/* this is purely for when javascript hasn't loaded */
	
	#mainNav ul.nav {
		li:hover > ul {
			display: block;
		}
		ul li:hover > ul {
			display: block;
		}
		ul ul li:hover > ul {
			display: block;
		}
	}
	
	/* more specific rule for superfish, without this the hoverIntent delay doesn't work */
	#mainNav ul.nav.sf-js-enabled {
		li:hover ul,
		ul li:hover ul,
		ul ul li:hover ul {
			display: none;
		}
	}
	
	#mainNav .nav ul li a {
		display: block;
	}
	
	#mainNav a.navicon {
		padding-left: 26px;
		background-position: 4px;
		background-repeat: no-repeat;
	}
	
	#mainNav a.print {
		background-image: url(/themes/default/graphics/printer.png);
	}
	
	#mainNav a.key {
		background-image: url(/themes/default/graphics/key.png);
	}
	

/** mini nav styling **/

	#miniNav {
		color: #666;
		position: relative;
		text-align: right;
		right: 0;
		top: 0;
		a {
			color: #333;
			font-weight: bold;
			text-decoration: none;
		}
		a:hover {
			color: #FFF;
			background-color: #FF0000;
		}
		ul {
			float: right;
			font-size: 9pt;
			line-height: 18px;
			padding-right: 6px;
			li {
				border-right: 1px solid @border1;
				display: block;
				float: left;
				line-height: 18px;
				list-style-type: none;
				padding: 0 4px;
				&.last {
					border: 0;
				}
			}
		}
		.loading {
			display: none;
			background: url(/themes/default/graphics/spinner.gif) left 50% no-repeat;
			padding-left: 20px;
		}
	}
	
/** tree div styling **/

	.tree_div {
		ul {
			color: #BBBBBB;
			width: 90%;
			li {
				color: #BBBBBB;
				display: block;
				list-style-type: none;
			}
		}
		img {
			position: relative;
			top: 3px;
			left: 3px;
			padding: 0 5px 0 0;
		}
		a {
			border-bottom: 1px dotted @dark-grey;
			color: @dark-grey;
		}
		a:hover {
			border-bottom: 1px solid @dark-orange;
			color: @dark-orange;
		}
	}
	
	.tree_sub ul {
		list-style: none;
		width: 90%;
	}
	
	.tree_sub li {
		list-style-type: none;
		overflow: visible;
		white-space: nowrap;
	}
	
	ul.tree_div li>ul {
		display: none;
	}
	
	ul.tree_div li:hover>ul {
		display: block;
	}
	

/** flash styling **/

	/* flash */
	#errors_button, #warnings_button, #messages_button {
	   	padding-left: 16px;
    	height: 18px;	
    	padding-top: 1px;
    	background: transparent left no-repeat;
     	border: 0 none white !important;
    	box-shadow: 0 0 0 0 white;
    	color: #333333;
    	font-weight: bold;
    	margin-bottom: 2px;
    	-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
    }
    
    #errors_button:hover, #warnings_button:hover, #messages_button:hover {
    	background-color: red;
    	color: white;
    }
    
	#errors_button {
		background-image: url(/themes/default/graphics/red.png);
	}
	
	#warnings_button {
		background-image: url(/themes/default/graphics/amber.png);
	}
	
	#messages_button {
		background-image: url(/themes/default/graphics/green.png);
	}
	
	#flash ul  {
		color: black;
		background-color: white;
	}
	
	#flash #messages {
		border-color: green;
	}
	
	#flash #warnings {
		border-color: yellow;
	}
	
	#flash #errors {
		border-color: red;
	}
	
	#flash ul {
		color: black;
		background-color: white;
		border-radius: 5px;
		border: 2px solid black;
		border-left: 10px solid black;
		margin-bottom: 10px;
		padding: 5px;
		position: relative;
		font-size: 12px;
		li  {
			margin-left: 20px;
		}
		/* these need to be classes */
		&#messages {
			border-color: green;
		}
		&#warnings {
			border-color: yellow;
		}
		&#errors {
			border-color: red;
		}
	}
	
	.validation-failed {
		border: 1px solid red;
	}
	

/** quick links styling **/

	#quicklinks {
		dd {
			a {
				color: #BBB;
			}
			a:hover {
				color: #0084b4;
			}
		}
		dt a {
			font-size: 11px;
		}
	}
	
	.quicklinks {
		display: none;
	}
	

/** sidebar styling **/

	#sidebar_open_close {
		width: 5px !important;
		float: left;
	}
	
	#sidebar {
		color: #333;
		float: left;
		margin: 0;
		width: 190px;
		padding: 10px 0 0 0;
		overflow-y: auto;
//		resize: horizontal;
		a {
			color: #333;
			text-decoration: none;
		}
		a:hover, a:active, a:focus {
			color: @dark-orange;
		}
		h3 {
			color: #2E2E2E;
			font-family: Helvetica, Arial, Verdana, sans-serif;
			font-size: 13px;
			font-weight: bold;
			padding: 3px 15px 3px 10px;
		}
		hr {
			border: 0;
			border-bottom: 1px dotted #92B8C8;
			padding-top: 3px;
		}
		ul {
			padding: 5px 15px 5px 10px;
			background-color: #FFF;
			border-radius: 5px;
			li {
				border-bottom: 1px solid @border1;
				line-height: 18px;
				list-style-type: none;
			}
			li:first-child {
				border-top: 1px solid @border1;
			}
		}
		p {
			padding: 10px;
		}
		.company_related {
			font-weight: bold;
			padding-bottom: 5px;
		}
	}
	
	.sidebar_component {
		font-size: 11px;
		margin-bottom: 15px;
		h3 {
			font-size: 13px;
		}
		h2, h3, h4 {
			padding: 5px 10px 0;
		}
		border-radius: 5px;
		border: 1px solid @border1;
		overflow:hidden;
		.expand {
			padding: 0;
			border-width: 0 !important;
			margin-right: 0;
		}
	}
	
	.sidebar_spacer {
		height: 2px;
		line-height: 2px !important;
	}
	
	#sidebar_currently_viewing li {
		background-image: none;
		background-repeat: no-repeat;
		padding-left: 6px;
	}
	
	#sidebar_related_items .hidden a {
		padding-left: 0;
	}
	
	#sidebar_related_items li {
		float: left;
		padding-top: 2px;
		width: 165px; 
		a {
			clear: left;
			display: block;
			float: left;
			width: 130px;
		}
		a.new_link {
			clear: right;
			display: inline;
			float: right;
			width: 20px;
		}
	}


/** eglets styling **/

	.egbox {
		margin-left: 0;
		padding-top: 10px;
	}
	
	#edit_dashboard_link {
		clear: both;
		float: right;
		margin-top: 30px;
	}
	
	.eglet {
		float: left;
		margin: 0 20px 20px 5px;
		padding: 10px;
		width: 240px;
		a {
			color: @dark-grey;
			text-decoration: none;
		}
		p {
			margin: 5px;
			a img {
				position: relative;
				top: 3px;
			}
		}
		h2 {
			color: #666;
			border-bottom: 1px solid @border1;
			padding: 0 0 5px;
		}
		dd img {
			padding-right: 5px;
		}
		dt {
			color: #000;
			font-size: 13px;
			font-weight: bold;
			margin: 0;
			padding-bottom: 5px;
			padding-top: 5px;
		}
		dl {
			padding: 0 10px;
		}
		ul {
			padding: 5px 10px;
			li {
				list-style-type: square;
				margin: 4px 0;
			}
		}
		.datagrid tbody {
		    height: hidden !important;
		}
	}
	
	.double_eglet {
		width: 527px;
	}
	
	.eglet > h2 > img  {
		cursor: pointer;
		position: relative;
		top: 3px;
		left: 3px;
		padding: 0 5px 0 0;	
	}
	
	.explanation {
		margin-bottom: 10px;
	}
	
	.eglets_container {
		background-color: #FFF;
		border: 1px solid @border1;
		float: left;
		margin: 10px 20px 10px 0;
		width: 300px;
		h2 {
			border-bottom: 1px solid @border1;
			margin: 10px 10px 0;
		}
		ul {
			list-style-type: none;
			margin: 10px;
			min-height: 100px;
			li {
				color: #333;
				padding: 5px;
			}
		}
	}
	
	.droppable {
		background-color: #ffd;
	}
	

/* footer styling **/

	#footer {
		color: @dark-grey;
		clear: both;
		font-size: 9pt;
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: center;
		p {
			margin: 0;
		}
		a {
			color: @dark-grey;
		}
		a:hover, a:focus, a:active {
			text-decoration: underline;
		}
	}
	

/** datagrid styling **/

	.pagination {
			a {
				border-bottom: none !important;
			}
	}
	
	.datagrid, .tablescroll_head {
		color: #333;
		background-color: white;
		margin-left: 0;
		width: 100%;
		a {
			text-decoration: none;
		}
		tbody {
			overflow-y: hidden;
			overflow-x: hidden;
			a {
				border-bottom: 1px dotted @dark-grey;
				&.delete_row {
					border-bottom: none !important;
				}	
			}
			a:hover, a:active, a:focus {
				border-bottom-style: solid;
				color: @dark-orange;
				border-bottom-color: @dark-orange;
			}
			tr {
				&.sub_total {
					background-color: #ADD8E6 !important;
				}
				&.grand_total {
					background-color: #90EE90 !important;
				}
			}
			tr.selected td {
				background-color: #F2F2F5;
			}
			tr:nth-of-type(odd) {
				background-color: rgba(0,0,0,.05);
			}
			tr:nth-of-type(even) {
				background-color: #fff;	
			}
			tr:hover {
				background-color: lightgray;
			}
		}
		thead {
			a {
				border-bottom: none !important;
			}
/*
			tr:first-child th:first-child {
			    .border-radius(4px 0 0 0);
			}
			tr:first-child th:last-child {
			    .border-radius(0 4px 0 0);
			}
*/
		}
		th {
			border-bottom: 2px solid gray;
			background-color: @background1;
			padding: 2px 5px;
			text-align: left;
			&.right {
				background-color: @background1;
				padding: 2px 5px;
				text-align: right;
			}
		}
		tr {
			&.sub_total {
				background-color: #ADD8E6;
			}
			&.grand_total {
				background-color: #90EE90;
			}
		}
		td {
			padding: 2px 5px;
			vertical-align: top;
			position: relative;
			&.sub_total {
				background-color: #ADD8E6;
				background-color: rgba(0, 100, 255, 0.15); /* lets use a transparent bgcolor for those browsers that support it. */
				font-weight: bold;
			}
			&.grand_total {
				background-color: #90EE90;
			}
		}
	}

	#data_grid_footer {
		float: left;
		form {
			float: right;
			width: 400px;
		}
		legend {
			display: none;
		}
	}
	
	/** generic classes **/
	
	.icon {
		text-align: center;
	}
	
	.numeric {
		text-align: right;
	}
		
	.paging {
		padding-left: 5px;
		a {
			text-decoration: none;
		}
		input {
			width: 30px !important;
		}
		th a {
			text-decoration: none;
		}
	}
	
	#mass_action {
		float: right;
	}
	
	.datagrid_inline td {
		vertical-align: top;
		border-bottom: 1px solid #999;
	}
	
	.inline {
		width: 250px;
		height: 90px;
		border: 1px solid #999;
		background-color: #fff;
		overflow: auto;
	}
	

/** view page styling **/

	#view_page {
//		margin-bottom: 10px;
		a {
			border-bottom: 1px dotted @dark-grey;
			text-decoration: none;
		}
		a:hover, a:active, a:focus {
			border-bottom-style: solid;
			text-decoration: none;
			color: @dark-orange;
			border-bottom-color: @dark-orange;
		}
		a.dialog {
			border: 0;
			text-decoration: none;
			margin-top: 5px;
			margin-bottom: 0px;
		}
		a img {
			margin-bottom: 0px;
		}
		dd {
			color: #333;
			background-color: white;
			border-bottom: 1px solid @border1;
			display: inline;
			float: left;
			font-size: 11px;
			font-weight: bold;
			line-height: 24px;
			margin-left: 1px;
			padding: 2px 0 2px 15px;
			width: 60%;
			&.data {
				border-bottom: none;
			}
			&.wide {
				width: 95%;
			}
			&.for_textarea {
				border-bottom: none;
				height: 190px;
			}
			&.for_multiple {
				border-bottom: none;
				height: 140px;
			}
			&.for_tinymce {
				height: 630px;
			}
		}
		dl {
			padding: 0;
			width: 49%;
		}
		dt {
			color: #666;
			border-bottom: 1px solid @border1;
			display: inline;
			float: left;
			height: 22px;
			line-height: 20px;
			padding: 3px;
			text-align: right;
			width: 35%;
			&.heading {
				background-color: @header1 !important;
				border-radius: 5px 5px 0 0;
				border-bottom: 1px solid @border1;
				display: block;
				font-size: 13px;
				font-weight: bold;
				color: @header2;
				height: 20px;
				margin: 0;
				padding: 3px 0 5px 5px;
				text-align: left;
				width: 99%;
			}
		}
		.blank {
			color: #ccc;
			font-weight: normal;
		}
		.float-left, .float-right {
//				background-color: white;
				border-radius: 5px;
		}
	}

	/* these selectors are bad! we might want multiple items floated to the left / right */
	/* please replace all instances of id="view_data_{direction}" with class="float-{direction}" */
	
	#view_data_left {
		float: left;
				background-color: white;
				border-radius: 5px;
	}
	
	#view_data_right {
		float: right;
				background-color: white;
				border-radius: 5px;
	}
	
			
	/* end of warning */
	
	#view_data_bottom {
		/* 
			Do not remove clear:both;
			can cause bottom div to be placed to right of view_data_left
		*/
		clear: both;
		float: left;
		width: 100%;
		dt {
			clear: right;
			width: 20% !important;
		}
	}
		
	#view_data_fullwidth {
		width: 100%;
		dd {
			border-bottom: none;
			display: table;
			font-weight: normal;
			margin: 5px 0;
			padding: 0;
		}
		dt {
			border-bottom: 1px solid #999;
			display: block;
			font-size: 13px;
			font-weight: bold;
			margin-top: 20px;
			text-align: left;
			width: 100%;
		}
	}
	
	.expand {
		margin-right: 5px;
		background-color: @header1 !important;
		font-size: 13px;
		padding-left: 20px !important;
    	&.open {
			background: url('/themes/default/graphics/menu_open_nofocus.png') no-repeat 5px 50%;
		}
    	&.open:hover {
			background: url('/themes/default/graphics/menu_open_focus.png') no-repeat 5px 50%;
		}
		&.closed {
			background: url('/themes/default/graphics/menu_closed_nofocus.png') no-repeat 5px 50%;
		}
		&.closed:hover {
			background: url('/themes/default/graphics/menu_closed_focus.png') no-repeat 5px 50%;
		}
	
	}
	
	.placeholder {
			clear: both;
			border-radius: 5px;
			border: 1px solid @border1;
			overflow:hidden;
			margin: 2px;
		}

	.hidden {
		display: none;
	}
	
	#hidden_search {
		display: none;
	}


/** form styling **/

/* ATTN: !!! most of this isn't form styling... not in the slighest */
/* there's not even a form selector! */
	 
	/* ATTENTION: THIS REQUIRES CLEANING UP */
	/* TOO MANY SEPERATE SELECTORS DOING THE SAME THING */
	
	.permission li {
		border-top: 1px dashed #666;
		list-style-type: none;
		/* margin-left: 50px; */
	}
	
	#permission_tree {
		border-right: 1px solid #666;
		border-bottom: 1px solid #666;
		float: right;
		margin: 0 auto;
		width: 350px;
		li {
			border-left: 1px solid #666;
			border-top: 1px solid #666;
			list-style-type: none;
		}
	}
	
	/* colours */
	#permission_tree, .permission {
		li.m {
			background-color: #FFE4E4;
		}
		li.a {
			background-color: #DFE7F3;
		}
		li.c {
			background-color: #E0F3DF;
		}
	}
	
	.collapsible_tree {
		li {
			list-style-type: none;
			line-height: 22px;
		}
		span {
			margin: 3px 2px 0;
		}
	}
	
	#collapsible_tree {
		border-right: 1px solid #666;
		border-bottom: 1px solid #666;
		margin: 0 auto;
		width: 350px;
		li {
			border-left: 1px solid #666;
			border-top: 1px solid #666;
			list-style-type: none;
		}
	}
	
	/* END TROUBLED CODE */
	
	#formtable {
		td {
			padding: 0 0 0 5px;
			vertical-align: middle;
		}
		.formlabel {
			color: #0084b4;
			font-size: 8px;
			font-weight: bold;
			padding-right: 5px;
			text-align: right;
			width: 200px;
		}
	}
	
	#main_with_sidebar #view_data_left textarea {
		width: 250px;
	}
	
	#formtable {
		img {
			padding-left: 5px;
		}
		strong {
			border-left: 3px solid red;
			font-size: 8px;
			font-weight: normal;
			margin-left: 5px;
			padding: 2px 5px;
		}
		input.autocomplete {
			background-color: #CEF8F9;
			min-height: 22px;
		}
		input.feint {
			color: #AAA;
			font-size: 7px;
		}
	}
	
	/* we could use attribute selectors here, however we might not want to apply these styles everywhere */
	
	.mailto {
		background-image: url(/themes/default/graphics/email_link.png);
		background-position: right;
		background-repeat: no-repeat;
		padding-right: 20px;
	}
	
	.website {
		background-image: url(/themes/default/graphics/website_link.png);
		background-position: right;
		background-repeat: no-repeat;
		padding-right: 20px;
	}
	
	/* autocomplete-related things */
	div.autocomplete {
		background-color: #0084b4;
		color: #FFF;
		max-height: 300px;
		overflow: auto;
		width: 250px;
		li.selected {
			background-color: #FFF;
			color: #0084b4;
		}
	}
	
	span.small {
		font-size: 8px;
	}
	
	div.split_page {
		float: left;
	}
	
	#form_page_right {
		background-color: #CCE3F2;
		border: 1px solid #009DDC;
		float: right;
		margin-left: 5px;
		margin-top: 10px;
		width: 50%;
	}
	
	#form_page_left {
		float: left;
		overflow: hidden;
		width: 45%;
	}
	
	#form_page_left table {
		width: 100%;
	}
	
	#form_page_left table td.formlabel {
		width: 100px;
	}
	
	#form_page_right th {
		text-align: left;
	}
	
	#view_page #webtree #tree {
		clear: both;
		float: left;
	}
	
	#tree {
		ul {
			list-style: none;
		}
		li {
			color: #333;
			display: block;
			line-height: 18px;
			padding-bottom: 2px;
			padding-left: 20px;
			&.Permission {
				background: url(/themes/default/graphics/webpage_categories_small.png) no-repeat left top;
			}	
			&.group {
				background: url(/themes/default/graphics/groups_small.png) no-repeat left top;
			}
			&.module {
				background: url(/themes/default/graphics/modules_small.png) no-repeat left top;
			}
			&.controller {
				background: url(/themes/default/graphics/controllers_small.png) no-repeat left top;
			}
			&.action {
				background: url(/themes/default/graphics/actions_small.png) no-repeat left top;
			}
			&.new {
				background: url(/themes/default/graphics/new_small.png) no-repeat left top;
			}
		}
		span.tree_info {
			color: #669;
			font-size: 10px;
		}
	}
	
	td.small {
		font-size: 8px;
	}
	
	#company_selector select {
		margin: 5px auto 5px 15px;
		width: 130px;
	}
	
	td.row_spacer {
		background-color: #DDF;
		height: 10px;
	}
	
	td.import_heading_field {
		background-color: #FFD;
		height: 20px;
	}
	
	td.hovering {
		background-color: #FF0;
	}
	
	#available_fields_container, #selected_fields_container {
		height: 200px;
		overflow-x: hidden;
		width: 220px;
		margin: 0;
		padding: 0;
	}
	
	#available_fields ul, #selected_fields ul {
		overflow-y: visible;
		width: 80%;
		margin: 0;
		padding: 0;
	}
	
	#available_fields li, #selected_fields li {
		overflow-y: visible;
		width: 80%;
		margin: 0;
		padding: 0;
	}
	
	td.import_heading_field select {
		width: 80px !important;
	}
	
	td.narrow {
		width: 30px;
	}
	
	.formsubmit {
		background-color: @background3;
		border: 0;
	}

	.submit {
		background-color: @background3 !important;
		border: 0 !important;
		border-top: 1px solid #CCCCCC !important;
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}
	
	div.product_selector {
		background-color: blue;
		height: 200px;
		position: absolute;
		width: 300px;
		z-index: 100;
	}
	
	#gridform {
		tbody {
			tr:nth-of-type(odd), tr.odd {
				background-color: #FFF;	
			}
			tr:nth-of-type(even), tr.even {
				background-color: #CCE3F2;	
			}
		}
		tr td {
			padding: 5px;
		}
		th {
			background-color: #CCF2E3;
		}
		select {
			width: 200px;
		}
		input {
			&.numeric {
				width: 90px;
			}
			&.comment {
				width: 500px;
			}
		}
		
	}
	
	#tab_links {
		background-color: #0084b4;
		border: 1px solid #fff;
		height: 22px;
		margin-top: 4px;
		a {
			color: #FFF;
			line-height: 20px;
			margin: 0 10px;
			padding: 5px 0;
			text-decoration: none;
			&.current {
				background-color: #FFF;
				color: #0084b4;
			}
		}
	}
	
	
	dd.for_multiple select {
		height: 140px;
	}
	

/** search styling **/
	 
	#basic_search, #advanced_search {
		padding-top: 4px;
	}
	
	/* ATTN: this should be just #search or similar */
	/* ATTN: we should also address the use of IDs instead of classes */
	// should just be .search
	#data_grid_search {
		background-color: @background1;
		border: 1px solid lightgray;
		margin: 8px 0;
		padding: 10px;
		position: relative;
		ul {
			width: 100%;
			li {
				list-style: none;
				width: 100%;
				display: inline-block;
				margin-bottom: 5px;
			}
			&.uz_breadcrumbs {
				width: auto;
				display: block;
				margin-left: 150px;
				li: first-child {
					line-height: 22px;
				}
				select {
					margin-top: 0;
				}
			}
		}
		dt, label {
			clear: both;
			float: left;
			/* height: 24px; */
			line-height: 22px;
			/* margin-bottom: 4px;
			margin-right: 6px; */
			width: 150px;
		}
		dd {
			clear: right;
			float: left;
			width: 150px;
			margin: 0;
		}
		input[type=checkbox] {
			width: auto;
		}
		dd {
			width: auto;
		}
		img {
			float: right;
			vertical-align: middle;
		}
		p {
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
		
		#submit_holder {
			position: relative;
			margin-top: 5px;
			input {
				width: 100px;
				margin-right: 15px;
			}
		}

	}
	.selector #data_grid_search ul.uz_breadcrumbs {
		margin-left: 10px;
	}
		
	div.hidden_multiselect {
		position: relative;
		height: auto;
		width: auto;
		z-index: 499; /* make sure we're underneath the dropdown menu */
	}
	select.dummy_multiselect {
		display: none;
	}
	
	#data_grid_search .tree_breadcrumb {
		padding: 1px;
		width: auto;
		float: left;
	}
	
	#data_grid_search li.checkbox label {
		line-height: normal;
	}
	
	.center {
		text-align: center;
	}


/** report styling **/

	#report_preview, #timesheet_table {
		color: #666;
		border-collapse: collapse;
		margin: 20px 5px;
	}
	
	tr.report_heading {
		border-bottom: 2px solid #009DCC;
		font-size: 12px;
	}
	
	tr.report_heading td {
		padding: 14px 0 4px;
	}
	
	tr.report_row td {
		padding: 2px;
		vertical-align: top;
	}
	
	tr.report_titles {
		border-bottom: 1px solid #009DCC;
		font-size: 11px;
		font-weight: bold;
	}
	
	tr.report_titles td {
		padding: 1px 0;
	}
	
	#shoptree ul {
		list-style: none;
		li {
			color: #333;
			display: block;
			line-height: 18px;
			padding-bottom: 2px;
			padding-left: 20px;
			&.new {
				background: url(/themes/default/graphics/new_small.png) no-repeat left top;
			}
			&.shopsection {
				background: url(/themes/default/graphics/webpage_categories_small.png) no-repeat left top;
			}
		}
	}
	

/** ajax login **/
	 
	#ajax-login {
		padding: 22px;
		font-size: 14px;
		form {
			width: 335px;
		}
		p {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		label {
	 		display: inline-block;
		 	width: 90px;
		}
		input {
			width: 240px;
			&[type=submit] {
				width: auto;
				margin-left: 90px;
			}
		}
	}
	

/** calendar **/
	
	#calendar {
		table {
			margin: 0;
		}
		.fc-content {
			background-color: white;
		}
	}
	
	/* data input datagrid */
	
	.uz-data-input-spreadsheet {
		border-collapse: collapse;
		cursor: cell;
	}
	
	.uz-data-input-spreadsheet, .uz-data-input-spreadsheet td, .uz-data-input-spreadsheet th {
		border: 1px solid lightgrey;
		background-color: white;
	}
	
	.uz-data-input-spreadsheet td, .uz-data-input-spreadsheet th {
		margin: 0;
		padding: 0;
		width: 7.142857143%;
	}
	
	.uz-data-input-spreadsheet tr {
		height: 25px;
	}
	
	.uz-data-input-spreadsheet td input {
		border: none;
		/* background-color: rgba(0,0,255,.1); */
		background-color: transparent;
	}
	

/** print dialog styling **/
	
	#print_dialog {
		padding: 0;
		display: none;
		a {
			text-decoration: underline;
		}
		ul {
			padding-bottom: 25px;
			margin-bottom: 25px;
			border-bottom: 2px dashed lightgrey;
			li {
				list-style: none;
				clear: both;
				margin-bottom: 10px;
				&.action_options,
				&.output_options {
					display: none;
				}
				label {
					width: 150px;
					display: block;
					float: left;
					margin-bottom: 10px;
				}
				input, select {
					width: 225px;
				}
				input[type=checkbox], input[type=radio] {
					width: auto;
				}
				textarea {
					width: 375px;
					height: 100px;
				}
			}
		}
		ul:last-child {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		p {
			margin-top: 20px;
			font-size: 14px;
		}
		p.wait_title {
			margin-top: 0;
			font-size: 18px;
		}
		p.wait_spinner {
			margin-top: 75px;
		}
		.print_success p.wait_spinner, .print_failure p.wait_spinner {
			margin-top: 10px;
			.tick, .cross {
				height: 67px;
				width: 67px;
				cursor: pointer;
			}
		}
	}
	
	.print_dialog {
		height: 210px;
		overflow-y: auto;
		border-bottom: 1px solid lightgray;
	}
	
	.print_wait, .print_success, .print_failure {
		display: none;
	}
	
	.print_wait p, .print_success p, .print_failure p {
		text-align: center;
	}
	
	.print_dialog_inner, .print_wait, .print_success, .print_failure {
		padding: 25px 25px 10px 25px;
	}
	
	a.close {
		margin-right: 10px;
	}
	
	#print_dialog ul.pdf-preview {
		float: left;
		height: 330px;
		overflow-y: auto;
		padding: 0;
		margin: -10px 25px 0 -10px;
		width: 300px;
		background-color: rgba(0,0,0,.1);
		border: none;
		border: 1px solid rgba(0,0,0,.05);
		li {
			margin: 10px 0;
			position: relative; 
			display: block;
			clear: both;
			text-align: center;
			img {
				.box-shadow(1px 1px 6px rgba(0,0,0,.5));
				margin: 0 auto 10px auto;
				display: block;
			}
		}
		li.spinner {
			margin-top: 40px;
			img {
				.box-shadow(none);
			}
		}
		::-webkit-scrollbar {
			width: 9px;
			height: 9px;
		}
		
		::-webkit-scrollbar-button:start:decrement,
		::-webkit-scrollbar-button:end:increment {
			display: block;
			height: 0;
			background-color: transparent;
		}
		
		::-webkit-scrollbar-track-piece {
			background-color: #FAFAFA;
			-webkit-border-radius: 0;
			-webkit-border-bottom-right-radius: 8px;
			-webkit-border-bottom-left-radius: 8px;
			background-color: rgba(0,0,0,0);
		}
		
		::-webkit-scrollbar-thumb:vertical {
			height: 50px;
			background-color: #999;
			-webkit-border-radius: 8px;
		}
		
		::-webkit-scrollbar-thumb:horizontal {
			width: 50px;
			background-color: #999;
			-webkit-border-radius: 8px;
		}
	}
	
	#print_footer {
		text-align: right;
		position: absolute;
		bottom: 25px;
		right: 25px;
		.options {
			float: left;
		}
	}
	
	.line-controls {
		tbody tr td:last-child {
			width: 16px;
			img {
				padding: 0;
				margin: auto;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				cursor: pointer;
			}
		}
	}
	
	#line-controls {
		z-index: 2;
		display: none;
		position: absolute;
		float: left;
		.border-radius(2px);
		.box-shadow(1px 1px 4px rgba(0,0,0,.7));
		list-style: none;
		background-color: lightgray;
		width: 100px;
		li {
			background-color: #f1f1f1;
			border-bottom: 1px solid rgba(0,0,0,.1);
			float: left;
			clear: both;
			width: 100%;
			a {
				display: block;
				padding: 10px;
				border-bottom: none;
				text-decoration: none;
				&:hover {
					border-bottom: none;
					text-decoration: none;
				}
			}
		}
		li:hover {
			background-color: rgba(0,0,0,.2);
		}
		li:last-child {
			border-bottom: none;
		}
	}
	
	ul.uz-connected-lists {
		.user-select(none);	
		background-color: #FFF;
		border: 1px solid lightgray;
		display: block;
		list-style-type: none;
		margin: 0;
		padding: 5px 5px 0 5px;
		li {
			background-color: rgba(0, 0, 0, .05);
			border-color: @border1 @border1 #BBBBBB;
			border-style: solid;
			border-width: 1px;
			color: #333333;
			font-weight: normal;
			cursor: move;
			margin-bottom: 5px;
			padding: 4px;
			&:hover {
				cursor: move;
			}
			&.highlight {
				background: rgba(255,255,0,.5);
			}
		}
	}
	
/** other **/
	
	fieldset.quicksearch {
		text-align: right;
	}
	
	
/** collapsible **/

	ul.collapsible {
		.user-select(none);
		margin: 0 0 0 0;		
		> li {
			overflow: hidden;
			.border-radius(5px);
			border: 1px solid lightgrey;
			margin-bottom: 15px;
			background-color: white;		
			div:first-of-type {
				.border-radius(4px 4px 0 0);
				border-bottom: 1px solid lightgrey;
				position: relative;
				z-index: 2;
				background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #f3f3f3));
				background-image: -moz-linear-gradient(center bottom, #dddddd 0%, #f3f3f3 100%);

				h3 {
					padding: 10px;
					font-size: 12px;
					color: #555;
				}
				span {
					border-left: 1px solid lightgrey;
					width: 30px;
					height: 100%;
					position: absolute;
					top: 0;
					right: 0;
					opacity: 0.5;
					background: url('/themes/default/graphics/arrow_large_down.png') no-repeat 50% 50% ;
				}
				
				span:hover {
					opacity: 1;
					cursor: pointer;
				}
			}
			div:first-of-type.close-left {
				h3 {
					padding-left: 40px;
				}
				span {
					left: 0;
					right: auto;
					border-left: none;
					border-right: 1px solid lightgrey;
				}
			}
			div:last-of-type {
				.user-select(text);
				.border-radius(0 0 4px 4px);
				background-color: white;
				padding: 10px;
				z-index: 1;
				table {
					float: none;
				}
			}
		}
		li.collapsible-hidden div:first-of-type {
			.border-radius(4px);
			border-bottom: none;
		}
		li.collapsible-hidden div:last-of-type {
			.border-radius(0);
			display: none;
		}
	}
	
	ul.file-list {
		li {
			line-height: 20px;
		}
	}
	
	
}

/** Error Page **/
#flash.sod ul li.logo {
	margin-left:0;
	margin-bottom: 3em;
}

#flash.sod li h1 {
	margin-bottom: 0.7em;
	padding-left:0;
	font-size: 3.5em;
	color: @orange;
}

#flash.sod li p {
	margin: 1.3em 0;
	font-size: 1.3em;
	line-height: 1.3em;
	word-wrap: break-word;
	padding-right: 20px;
}

#flash.sod ul#errors {
	padding: 1.5em 0 2em 0;
}

#flash.sod a.report {
	background: none repeat scroll 0 0 @background2;
    border: 3px solid @orange;
    color: @orange;
    font-size: 1.3em;
    font-weight: bold;
    margin: 2px;
    text-shadow: none;
}
