{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.3 $ *}
<div>&nbsp;</div>
<div id="info_message" class="rounded">
  <img src="{$smarty.const.THEME_URL}{$theme}/graphics/message_info.gif" alt="info">
  <p>
    {$info_message}
  </p>
  <div id="info_message_footer"></div>
</div>
<div>&nbsp;</div>