{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.1 $ *}
<dt><label for="printer">Printer</label>:</dt>
<dd>
	<select name="printer">
		{html_options options=$printers selected=$default_printer}
	</select>
</dd>