{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.2 $ *}
<dl>
	<dt>{"users"|prettify}</dt>
		<dd><img src="/themes/default/graphics/persons_small.png" alt="Users" />{link_to module="admin" controller="users" value="all_users"} &raquo;</dd>
		<dd><img src="/themes/default/graphics/new_small.png" alt="New" />{link_to module="admin" controller="users" action="new" value="add_new_users"} &raquo;</dd>
	<dt>{"roles"|prettify}</dt>
		<dd><img src="/themes/default/graphics/roles_small.png" alt="Roles" />{link_to module="admin" controller="roles" value="all_roles"} &raquo;</dd>
		<dd><img src="/themes/default/graphics/new_small.png" alt="New" />{link_to module="admin" controller="roles" action="new" value="add_new_role"} &raquo;</dd>
</dl>
