{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.3 $ *}
<dl>
	<dd>{link_to module=$module submodule=$submodule controller=ARTransactions value="Asset Transactions" } &raquo;</dd>
	<dd>{link_to module=$module submodule=$submodule controller=ARGroups value="View Asset Groups" } &raquo;</dd>
	<dd>{link_to module=$module submodule=$submodule controller=Assets value="View Assets" } &raquo;</dd>
</dl>
