{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.3 $ *}
<dl>
	<dd>{link_to module=$module submodule=$submodule controller=ARLocations  value="Asset Locations" } &raquo;</dd>
	<dd>{link_to module=$module submodule=$submodule controller=ARAnalysiss  value="Asset Analysis Codes" } &raquo;</dd>
	<dd>{link_to module=$module submodule=$submodule controller=ARGroups  value="Asset Groups" } &raquo;</dd>
	<dd>{link_to module=$module submodule=$submodule controller=Assets  value="Setup Assets" } &raquo;</dd>
</dl>
