{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.3 $ *}
<dl>
	<dt>{"bank_account_details"|prettify}</dt>
		<dd>{link_to module=$module submodule=$submodule controller=bankaccounts value="Bank Accounts"} &raquo;</dd>
		<dd>{link_to module=$module submodule=$submodule controller=paymenttypes value="Payment Types"} &raquo;</dd>
		<dd>{link_to module=$module submodule=$submodule controller=paymentterms value="Payment Terms"} &raquo;</dd>
		<dd>{link_to module=$module submodule=$submodule controller=periodicpayments value="Periodic Payments"} &raquo;</dd>
</dl>
