{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.2 $ *}
<dl>
	<dt>Opportunities</dt>
		<dd><img src="/themes/default/graphics/opportunitys_small.png" alt="Opportunties" />{link_to module="crm" controller="opportunitys" value="All Opportunities"}&raquo;</dd>
		<dd><img src="/themes/default/graphics/new_small.png" alt="New" />{link_to module="crm" controller="opportunitys" action="new" value="New Opportunity"}&raquo;</dd>
	<dt>Activities</dt>
		<dd><img src="/themes/default/graphics/activitys_small.png" alt="Activities" />{link_to module="crm" controller="activitys" value="All Activities"}&raquo;</dd>
		<dd><img src="/themes/default/graphics/new_small.png" alt="New" />{link_to module="crm" controller="activitys" action="new" value="New Activity"}&raquo;</dd>
	<dt>Campaigns</dt>
		<dd><img src="/themes/default/graphics/campaigns_small.png" alt="Campaigns" />{link_to module="crm" controller="campaigns" value="All Campaigns"}&raquo;</dd>
		<dd><img src="/themes/default/graphics/new_small.png" alt="New" />{link_to module="crm" controller="campaigns" action="new" value="New Campaign"}&raquo;</dd>
</dl>
