{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.2 $ *}
<dl>
	<dt>{"products"|prettify}</dt>
		<dd><img src="/themes/default/graphics/companys_small.png" alt="Products" />{link_to module="ecommerce" controller="products" value="all_products"} &raquo;</dd>
		<dd><img src="/themes/default/graphics/new_small.png" alt="New" />{link_to module="ecommerce" controller="products" action="new" value="add_new_product"} &raquo;</dd>
	<dt>{"sections"|prettify}</dt>
		<dd><img src="/themes/default/graphics/companys_small.png" alt="Sections" />{link_to module="ecommerce" controller="sections" value="all_sections"} &raquo;</dd>
		<dd><img src="/themes/default/graphics/new_small.png" alt="New" />{link_to module="ecommerce" controller="sections" action="new" value="add_new_section"} &raquo;</dd>
</dl>
