{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.3 $ *}
<dl>
		<dd>{link_to module=ledger_setup value="Ledger Setup" } &raquo;</dd>
		<dd>{link_to module=asset_setup value="Asset Register Setup" } &raquo;</dd>
		<dd>{link_to module=purchase_order controller=poauthlimits value="Purchasing Setup" } &raquo;</dd>
		<dd>{link_to module=manufacturing_setup value="Manufacturing Setup" } &raquo;</dd>
</dl>
