{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.3 $ *}
<dl>
	<dt>{"chart_of_accounts"|prettify}</dt>
		<dd>{link_to module=$module submodule=$submodule controller=glsummarys value="GL Summaries (Optional)"} &raquo;</dd>
		<dd>{link_to module=$module submodule=$submodule controller=glanalysiss value="GL Analyses (Optional)"} &raquo;</dd>
		<dd>{link_to module=$module submodule=$submodule controller=glaccounts value="GL Accounts"} &raquo;</dd>
	<dt>{"advanced_setup"|prettify}</dt>
		<dd>{link_to module=$module submodule=$submodule controller=glcentres value="GL Centres"} &raquo;</dd>
		<dd>{link_to module=$module submodule=$submodule controller=glperiods value="GL Periods"} &raquo;</dd>
		<dd>{link_to module=$module submodule=$submodule controller=glparamss value="GL Paramaters"} &raquo;</dd>
		<dd>{link_to module=$module submodule=$submodule controller=glbudgets value="GL Budgets"} &raquo;</dd>
</dl>
