{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.3 $ *}
<dl>
	<dd>{link_to module=$module submodule=$submodule controller=poreceivedlines value="View Goods Received Notes" } &raquo;</dd>
	<dd>{link_to module=$module submodule=$submodule controller=poreceivedlines action=viewAwaitingDelivery value="Confirm Delivery" } &raquo;</dd>
</dl>
