{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.2 $ *}
<dl>
<dt>Holiday Requests</dt>
{* <dd><img src="/themes/default/graphics/companys_small.png" alt="Holiday Requests" />{link_to module="hr" controller="holidayrequests" action="view_my_holiday_requests" value="My Holiday Requests"}&raquo</dd> *}

<dd><img src="/themes/default/graphics/new_small.png" alt="New" />{link_to module="hr" controller="holidayrequests" action="new" value="New Holiday Request"}&raquo;</dd>
</dl>
