{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.3 $ *}
<dl>
		<dd>{link_to module=manufacturing_setup controller=whStores value="Stores" } &raquo;</dd>
		<dd>{link_to module=manufacturing_setup controller=stuoms value="Units of Measure" } &raquo;</dd>
		<dd>{link_to module=manufacturing_setup controller=syuomconversions value="UOM Conversions" } &raquo;</dd>
		<dd>{link_to module=manufacturing_setup controller=whactions value="View/Add/Amend Actions" } &raquo;</dd>
		<dd>{link_to module=manufacturing_setup controller=sttypecodes value="Stock Type Codes" } &raquo;</dd>
		<dd>{link_to module=manufacturing_setup controller=stproductgroups value="Product Groups" } &raquo;</dd>
</dl>
