{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.4 $ *}
<dl>
		<dd>{link_to module=$module submodule=manufacturing controller=mfdepts value="Departments" } &raquo;</dd>
		<dd>{link_to module=$module submodule=manufacturing controller=mfresources value="Resources" } &raquo;</dd>
</dl>
