{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.3 $ *}
<dl>
	<dd>{link_to module=$module submodule=$submodule controller=plsuppliers action=new value="create a new Supplier" } &raquo;</dd>
	<dd>{link_to module=$module submodule=$submodule controller=plsuppliers action=index value="View all Suppliers" } &raquo;</dd>
	<dd>{link_to module=$module submodule=$submodule controller=pltransactions value="View all transactions" } &raquo;</dd>
	<dd>{link_to module=$module submodule=$submodule controller=plsuppliers action=periodicpayments value="View periodic payments" } &raquo;</dd>
</dl>
