{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.2 $ *}
<dl>
	<dt>{"projects"|prettify}</dt>
		<dd><img src="/themes/default/graphics/projects_small.png" alt="{"projects"|prettify}" />{link_to module="projects" controller="projects" value="all_projects"}&raquo;</dd>				
		<dd><img src="/themes/default/graphics/new_small.png" alt="New" />{link_to module="projects" controller="projects" action="new" value="new_project"} &raquo;</dd>				
</dl>
