{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.3 $ *}
<dl>
	<dd>{link_to module=$module submodule=$submodule controller=sinvoices action=new value="New Invoice" transaction_type='I'} &raquo;</dd>
	<dd>{link_to module=$module submodule=$submodule controller=sinvoices action=new value="New Credit Note" transaction_type='C'} &raquo;</dd>
	<dd>{link_to module=$module submodule=$submodule controller=sinvoices value="View all invoices" } &raquo;</dd>
</dl>
