{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.3 $ *}
<dl>
	<dd>{link_to module=$module submodule=$submodule controller=slcustomers action=new value="Create a new Customer" } &raquo;</dd>
	<dd>{link_to module=$module submodule=$submodule controller=slcustomers action=index value="View all Customers" } &raquo;</dd>
	<dd>{link_to module=$module submodule=$submodule controller=sltransactions value="View all transactions" } &raquo;</dd>
	<dd>{link_to module=$module submodule=$submodule controller=slcustomers action=periodicpayments value="View periodic payments" } &raquo;</dd>
</dl>
