{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.3 $ *}
<dl>
	<dt>{"tax_details"|prettify}</dt>
		<dd>{link_to module=$module submodule=$submodule controller=taxperiods value="Tax Periods"} &raquo;</dd>
		<dd>{link_to module=$module submodule=$submodule controller=taxrates value="Tax Rates"} &raquo;</dd>
		<dd>{link_to module=$module submodule=$submodule controller=taxstatuss value="Tax Statuses"} &raquo;</dd>
</dl>
