{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.2 $ *}
<dl>
	<dt>{"Vat"|prettify}</dt>
		<dd>{link_to module=$module submodule=$submodule controller=vat value="Vat Return"} &raquo;</dd>
		<dd>{link_to module=$module submodule=$submodule controller=vat action=vieweutransactions value="Intrastat"} &raquo;</dd>
</dl>
