/**
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved.
 *
 *	Released under GPLv3 license; see LICENSE.
 **/

/* $Revision: 1.3 $ */

/* add your custom css below */

#view_page input.path_name
{
	width:550px;
}

#sidebar_Stages li.current {
	font-weight: bold;
}

.permission_tree {
	font-size: 12px;
	margin-top: 5px;
	div {
		display: block;
		border-radius: 5px;
		background-color: white;
		overflow: hidden;
	}
	span {
		float: left;
		display: block;
		width: 100%;
		padding: 7px 25px 7px 7px;
		&.open {
			background: url('/themes/default/graphics/menu_open_nofocus.png') no-repeat 5px 50%;
		}
		&.closed {
			background: url('/themes/default/graphics/menu_closed_nofocus.png') no-repeat 5px 50%;
		}
		> span {
			float: none;
			display: inline;
			opacity: 0;
			width: auto;
			padding: 0 0 0 10px;
			margin: 0;
			color: grey;
			a {
				color: grey;
			}
		}
		
	}
	ol {
		padding-left: 20px;
	}
	li.placeholder {
		border: 1px solid lightgrey;
		background-color: white;
		border-radius: 5px;
		margin-bottom: 5px;
	}
}

.new_permission {

	font-size: 12px;
	margin: 15px 0;
	
	> ul {
		overflow: hidden;
		li {
			float: left;
			border-left: 1px solid lightGrey;
			border-top: 1px solid lightGrey;
			border-right: 1px solid lightGrey;
			border-radius: 5px 5px 0 0;
			margin: 0 0 0 5px;
			padding: 6px;
			background-color: white;
			box-shadow: inset 0px -3px 5px -3px rgba(0, 0, 0, .3);
			cursor: pointer;
			&.current {
				box-shadow: none;
				font-weight: bold;
			}
		}
	}
	.permission_container {
		border: 1px solid lightGrey;
		border-radius: 5px;
		background-color: white;
		> div {
			padding: 10px;
			display: block;
			overflow: hidden;
			&.current {
				display: block;
			}
			p {
				clear: both;
				float: left;
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
		
	}
	form {
		ul {
			float: left;
			margin-right: 15px;
		}
		li {
			overflow: hidden;
			margin-bottom: 5px;
		}
		li:last-child {
			margin-bottom: 0;
		}
		label {
			width: 150px;
			float: left;
			padding: 5px 0;
		}
		input, select {
			float: left;
			width: 150px;
		}
		input[type=checkbox] {
			width: auto;
		}
		span {
			float: left;
			padding: 5px 0;
			font-weight: bold;
		}
	}
	
	
}