table#spreadsheet{
 
/** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **/
	background-color: #FFFFFF;
	border-collapse: collapse;
	clear: left;
}

table#spreadsheet tr.search td{
	background-image: url(/themes/default/graphics/search.png);
	background-position: center right;
	background-repeat: no-repeat;
}

table#spreadsheet tr.search td input{
	color: blue;
}

table#spreadsheet tr.search td.control{
	background-image: url(/themes/default/graphics/delete.png);
	background-position: center center;
}

table#spreadsheet td.control{
	width: 15px;
	background-image: none;
}

table#spreadsheet td.indicator{
	width: 10px;
	background-image: none;
}
table#spreadsheet td.indicator.warn{
	background-image: url(/themes/default/graphics/warn.png);
	background-repeat: no-repeat;
	background-position: center center;
}

table#spreadsheet td.control, table#spreadsheet thead th{
	background-color: #E8EEF7;
	border: 1px solid #CCC;
}

table#spreadsheet thead th{
	text-align: center;

}

table#spreadsheet td{
	border: 1px solid #ccc;
}

table#spreadsheet input, table#spreadsheet select{
	width: 99%;
	border: none;
	padding: 1px;
	background-color: transparent;
}

table#spreadsheet td.active{
	background-color: #FFFFEF;
}

table#spreadsheet td.error{
	background-color: #F9CBC3;
}

table#spreadsheet tr.selected td{
	background-color: #D9E2F3;
}

ul.spreadsheet_actions{
	margin:0; 
	margin-top: 10px;
	padding:0;
	display: block;
}

ul.spreadsheet_actions li{
	display: inline;
	float: left;
	padding: 1px 5px 3px 20px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: left middle;
}

ul.spreadsheet_actions li:hover{
text-decoration: underline;
}

ul.spreadsheet_actions li.save_action{
	background-image: url(/themes/default/graphics/save.png);
}

ul.spreadsheet_actions li.duplicate_action{
	background-image: url(/themes/default/graphics/copy.png);
}

ul.spreadsheet_actions li.delete_action{
	background-image: url(/themes/default/graphics/delete.png);
}

ul.spreadsheet_actions li.add_action{
	background-image: url(/themes/default/graphics/add.png);
}

ul.spreadsheet_actions li.search_action{
	background-image: url(/themes/default/graphics/search.png);
}

.wait input, .wait select{
	cursor: wait;
}

/* Date Picker */
table.jCalendar {
	border: 1px solid #000;
	background: #aaa;
    border-collapse: separate;
    border-spacing: 2px;
}
table.jCalendar th {
	background: #333;
	color: #fff;
	font-weight: bold;
	padding: 3px 5px;
}

table.jCalendar td {
	background: #ccc;
	color: #000;
	padding: 3px 5px;
	text-align: center;
}
table.jCalendar td.other-month {
	background: #ddd;
	color: #aaa;
}
table.jCalendar td.today {
	background: #666;
	color: #fff;
}
table.jCalendar td.selected {
	background: #f66;
	color: #fff;
}
table.jCalendar td.selected.dp-hover {
	background: #f33;
	color: #fff;
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
	background: #fff;
	color: #000;
}
table.jCalendar tr.selectedWeek td {
	background: #f66;
	color: #fff;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
	background: #bbb;
	color: #888;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #bbb;
	color: #888;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */
.dp-choose-date{display:none;}
div.dp-popup {
	position: relative;
	background: #ccc;
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 2px;
	width: 171px;
	line-height: 1.2em;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 2px 0;
	padding: 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}
}
