/**
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved.
 *
 *	Released under GPLv3 license; see LICENSE.
 **/

/* 	$Revision: 1.3 $  */

h2 {
	font-size: 12px;
}

#folders {
	margin-right: 5px;
}

#files {
	margin-left: 5px;
}