{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
<dl id="view_data_left">
	{with model=$Schema}
		<b>
			{$message}
		</b>
	{/with}
</dl>