{** 
 *	(c) 2000-2012 uzERP LLP (support#uzerp.com). All rights reserved. 
 * 
 *	Released under GPLv3 license; see LICENSE. 
 **}
{* $Revision: 1.2 $ *}
{content_wrapper}
	<h2>Cache Key: {$title}</h2>
	<div id="view_page" class="clearfix">
		<div id="view_data_fullwidth">
			<dt>Cache Contents</dt>
			<dd><pre>{$item}</pre></dd>
		</div>
	</div>
{/content_wrapper}