/* $Revision: 1.5 $ */


/* add your custom css below */

input {
	&.order_qty {
		width:60px !important;
	}
	&.price {
		width:80px !important;
	}
	&.net_value {
		width:80px !important;
	}
	&.del_qty {
		width:50px !important;
	}
	&.percent {
		width:30px !important;
	}
	&.balance {
		width:100px !important;
	}
	&.read-only {
		border-color: none;
		border-style: none;
		background-color:transparent !important;
	}
}

select.tax_rate {
	width:160px !important;
}

#order_lines {
	border-collapse:collapse;
	clear:both;
	float:left;
	input {
		&.numeric {
			text-align:right;
			width:50px;
		}
		&.datefield {
			width:80px;
		}
		&.text-80 {
			width:80px;
		}
	}
	td,th {
		padding:5px;
	}
	select {
		width:100px;
	}
	th.datefield {
		width:100px;
	}
}

#sorder_order_number {
	width:100px;
}

#sorder_customer {
	width:300px;
}

#SOrder_status.cancelled {
	background-color: yellow;
	border-radius: 5px;
}